doctype 5
html
    head
        title Turrets
        link(rel="stylesheet",href="/css/style.css")
    body
        #turrets(style="width: 640px; height: 480px;") Loading Turrets...
        script(src="/js/underscore.js")
        script(src="/js/cocos2d-beta2.js")
        script(src="/js/config.js")
        script(src="/js/Vector.js")
        script(src="/js/Unit.js")
        script(src="/js/Bullet.js")
        script(src="/js/Core.js")
        script(src="/js/StatusBar.js")
        script(src="/js/Turret.js")
        script(src="/js/Wall.js")
        script(src="/js/Factory.js")
        script(src="/js/main.js")