doctype 5
html
    head
        title Turrets
        link(rel="stylesheet",href="/css/style.css")
    body
        #turrets(style="width: 1000px; height: 800px;") Loading Turrets...
        script(src="/socket.io/socket.io.js")
        script(src="/js/cocos2d-beta2.js")
        script(src="/js/slave.js")